*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration:none;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    height:100%;
    background: linear-gradient(to right, #b88efc,#6877f4);
display:grid;
place-items: center; 
}

